@model MiniProject.MVC.DTO.ComplaintDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Complaint</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="Description" readonly class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="ClientName" readonly class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="ArticleName" readonly class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="DateSubmitted" readonly class="form-control" />
            </div>
            <div class="form-group">
                <select asp-for="Status" class="form-control" aria-required="true">
                    <option value="">Select Etat reclamation</option>
                    <option value="@ComplainState.EnAttente">@ComplainState.EnAttente</option>
                    <option value="@ComplainState.EnCours">@ComplainState.EnCours</option>
                    <option value="@ComplainState.Terminee">@ComplainState.Terminee</option>
                    <option value="@ComplainState.Rejete">@ComplainState.Rejete</option>
                </select>
                <label asp-for="Status">Status</label>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechnicienId" class="control-label"></label>
                <select asp-for="TechnicienId" class="form-control" asp-items="ViewBag.TechnicienId"></select>
                <span asp-validation-for="TechnicienId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenPrice" class="control-label"></label>
                <input asp-for="MenPrice" class="form-control" />
                <span asp-validation-for="MenPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Categories">Select SpareParts</label>
                <select id="Categories" name="SparePartsIds" multiple="multiple" class="form-control">
                    @foreach (var sp in Model.AllComplaintSpareParts)
                    {
                        <option selected="@(Model.SparePartsIds.Contains(sp.Id))" value="@sp.Id">@sp.Name</option>
                    }
                </select>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ClientId" />
            <input type="hidden" asp-for="ArticleId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
