@model IEnumerable<MiniProject.MVC.DTO.ComplaintDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSubmitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicienName)
            </th>
            <th>
                Pieces de rechange
            </th>
            <th>
                Prix Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateSubmitted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TechnicienName) | Prix : @Html.DisplayFor(modelItem => item.MenPrice)
                </td>
                <td>
                    @foreach (var sp in item.ComplaintSpareParts)
                    {
                        <small>@sp.Name | Prix : @sp.Price</small>

                        <br />
                    }
                </td>
                <td>
                    @(item.ComplaintSpareParts.Sum(s => s.Price) + item.MenPrice)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>