@model IEnumerable<projet.Models.Complaint>

@{
    ViewData["Title"] = "Réclamations";
}

<h1>Liste des Réclamations</h1>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Créer une réclamation</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Client</th>
            <th>Article</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var complaint in Model)
        {
            <tr>
                <td>@complaint.Client.FullName</td>
                /<td>@complaint.Article.Name</td>
                <td>@complaint.Status</td>
                <td>
                    <a href="@Url.Action("Details", new { id = complaint.Id })" class="btn btn-info">Détails</a>
                    <a href="@Url.Action("Edit", new { id = complaint.Id })" class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        }
    </tbody>
</table>
